@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;600&display=swap");
body {
  background-color: #345b63;
}

#canvas {
  border: 2px solid #fff;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  top: 85vh;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.5rem;
  color: #93b5c6;
  font-weight: 600;
}
